@page "/peliculas/crear"
@inject NavigationManager navigationManager
<h3>Crear Pelicula</h3>

<PeliculaForm Pelicula="Pelicula" OnValidSubmit="Save"></PeliculaForm>

@code {
    private Pelicula Pelicula = new Pelicula();

    void Save()
    {
        Console.WriteLine("Pelicula creada");
        navigationManager.NavigateTo("pelicula");
    }
}
