@page "/generos/crear"
@inject NavigationManager navigation
@inject SweetAlertService Swal
@inject IRepositorio repositorio
<h3>Crear</h3>

<GeneroForm Genero="Genero" Save="Save"></GeneroForm>

@code {
    private Genero Genero = new Genero();

    private async void Save()
    {
        var httpResponse = await repositorio.Post("api/generos", Genero);

        if (httpResponse.Error)
        {
            await Swal.FireAsync("Error", "Hubo un error", SweetAlertIcon.Error);
        }
        else
        {
            Console.WriteLine($"Nombre {Genero.Name}");
            navigation.NavigateTo("/generos");
        }
    }
}
