@page "/generos/crear"
@inject NavigationManager navigation
<h3>Crear</h3>

<GeneroForm Genero="Genero" Save="Save"></GeneroForm>

@code {
    private Genero Genero = new Genero();

    private void Save()
    {
        Console.WriteLine($"Nombre {Genero.Name}");
        navigation.NavigateTo("/generos");
    }
}
