@inject SweetAlertService swal
<div>
    <EditForm EditContext="editContext" OnValidSubmit="Save">
        <DataAnnotationsValidator/>
        <div class="mb-3">
            <label>Nombre</label>
            <InputText class="form-control" @bind-Value="@Genero.Name"/>
            <ValidationMessage For="@(() => Genero.Name)"/>
        </div>

        <button class="btn btn-success" type="submit"> Guardar</button>
    </EditForm>
</div>
@code {
    private EditContext editContext = null!;

    [Parameter] public Genero Genero { get; set; } = null!;
    [Parameter] public EventCallback Save { get; set; }

    protected override void OnInitialized()
    {
        editContext = new(Genero);
    }
}
