@inject IJSRuntime js
<h3>Listado de Peliculas</h3>

<div style="display: flex; flex-wrap: wrap; align-items: center;">
	<ListadoGenerico listado="Peliculas">
		<Registros>
			<PeliculaIndividual Pelicula="context" EliminarPelicula="Eliminar"></PeliculaIndividual>
		</Registros>
	</ListadoGenerico>
</div>

@code {

	[Parameter]
	public List<Pelicula> Peliculas { get; set; } = null!;

	private async Task Eliminar(Pelicula pelicula)
	{
		var confirm = await js.Confirm($"¿Desea borrar la pelicula {pelicula.Titulo}?");
		if (confirm)
		{
			Console.WriteLine("Eliminando pelicula");
			Peliculas.Remove(pelicula);
		}

	}

}
