@typeparam GenericParam 
@if (listado is null)
{
	@if (Cargando is null)
	{
		<p>Cargando...</p>
	}
	else
	{
		@Cargando
	}
}
else if (listado.Count == 0)
{
	@if (NoHayRegistros is null)
	{
		<p>No hay registros.</p>
	}
	else
	{
		@NoHayRegistros
	}
}
else
{
	if(Registros is not null)
	{
		@foreach (GenericParam elemento in listado)
		{
			@Registros(elemento)
		}
	}
	else
	{
		@RegistrosCompletos
	}
}

@code {
	[Parameter] public RenderFragment Cargando { get; set; } = null!;
	[Parameter] public RenderFragment NoHayRegistros { get; set; } = null!;
	[Parameter] public RenderFragment<GenericParam> Registros { get; set; } = null!;
	[Parameter] public RenderFragment RegistrosCompletos { get; set; } = null!;
	[Parameter] public List<GenericParam> listado { get; set; } = null!;
}
