@inherits LayoutComponentBase
@inject RenovadorToken renovar
@inject IJSRuntime js
@inject NavigationManager navigation

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <EnlacesLogin/>
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{
    [CascadingParameter]
    public Task<AuthenticationState> authenticationState { get; set; } = null!;
    protected override async Task OnInitializedAsync()
    {
        await js.InvokeVoidAsync("timerInactivo",DotNetObjectReference.Create(this));
        renovar.Iniciar();
    }

    [JSInvokable]
    public async Task Logout()
    {
        var authState = await authenticationState;
        if (authState.User.Identity.IsAuthenticated)
        {
            navigation.NavigateTo("logout");
        }
    }
}