@page "/"
@inject IRepositorio repositorio
<div>
	<h3>Peliculas en cartelera</h3>
    <ListadoPeliculas Peliculas="Cartelera"></ListadoPeliculas>
</div>

<div>
	<h3>Proximos estrenos</h3>
    <ListadoPeliculas Peliculas="Estrenos"></ListadoPeliculas>
</div>

@code {
	public List<Pelicula> Cartelera { get; set; } = null!;
	public List<Pelicula> Estrenos { get; set; } = null!;

	protected override async Task OnInitializedAsync()
	{
		var responseHttp = await repositorio.Get<HomePageDTO>("api/peliculas");
		Estrenos = responseHttp.Response.PeliculasDeEstreno;
		Cartelera = responseHttp.Response.PeliculasEnCartelera;
	}

}